In [1]:
!pip install --upgrade numpy==1.24.3
!pip install --upgrade pandas==2.2.0
!pip install --upgrade scikit-learn==1.4.0

Collecting numpy==1.24.3
  Using cached numpy-1.24.3.tar.gz (10.9 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [33 lines of output]
  Traceback (most recent call last):
    File "C:\Users\aa2893\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 389, in <module>
      main()
    File "C:\Users\aa2893\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 373, in main
      json_out["return_val"] = hook(**hook_input["kwargs"])
                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\aa2893\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 137, in get_requires_for_build_wheel
      backend = _build_backend()
                ^^^^^^^^^^^^^^^^
    File "C:\Users\aa2893\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 70, in _build_backend
      obj = import_module(mod_path)
            ^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\Users\aa2893\AppData\Local\Programs\Python\Python312\Lib\importlib\__init__.py", line 90, in import_module
      return _bootstrap._gcd_import(name[level:], package, level)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
    File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
    File "<frozen importlib._bootstrap>", line 1310, in _find_and_load_unlocked
    File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
    File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
    File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
    File "<frozen importlib._bootstrap>", line 1331, in _find_and_load_unlocked
    File "<frozen importlib._bootstrap>", line 935, in _load_unlocked
    File "<frozen importlib._bootstrap_external>", line 995, in exec_module
    File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
    File "C:\Users\aa2893\AppData\Local\Temp\pip-build-env-bp6fj3ap\overlay\Lib\site-packages\setuptools\__init__.py", line 16, in <module>
      import setuptools.version
    File "C:\Users\aa2893\AppData\Local\Temp\pip-build-env-bp6fj3ap\overlay\Lib\site-packages\setuptools\version.py", line 1, in <module>
      import pkg_resources
    File "C:\Users\aa2893\AppData\Local\Temp\pip-build-env-bp6fj3ap\overlay\Lib\site-packages\pkg_resources\__init__.py", line 2172, in <module>
      register_finder(pkgutil.ImpImporter, find_on_path)
                      ^^^^^^^^^^^^^^^^^^^
  AttributeError: module 'pkgutil' has no attribute 'ImpImporter'. Did you mean: 'zipimporter'?
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

Getting requirements to build wheel did not run successfully.
exit code: 1

See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

Requirement already satisfied: pandas==2.2.0 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from pandas==2.2.0) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from pandas==2.2.0) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from pandas==2.2.0) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from pandas==2.2.0) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.0) (1.17.0)
Requirement already satisfied: scikit-learn==1.4.0 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (1.4.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn==1.4.0) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn==1.4.0) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn==1.4.0) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aa2893\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn==1.4.0) (3.5.0)

In [2]:
import numpy as np
import pandas as pd

C:\Users\aa2893\AppData\Local\Temp\ipykernel_10300\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df =  pd.read_csv('Insurance.csv')

In [4]:
df.head()

,age,sex,bmi,children,smoker,region,charges,occupation,avg_steps_per_day,gym_frequency,time_spent_in_gym
0,19.0,female,27.900,0.0,yes,southwest,16884.92400,Other,NaN,1 or 2 days a week,45
1,18.0,male,NaN,1.0,no,southeast,1725.55230,Engineer,8900.0,NaN,30
2,28.0,male,33.000,3.0,no,NaN,4449.46200,Artist,8900.0,everyday,45
3,33.0,male,22.705,0.0,no,NaN,21984.47061,Artist,7900.0,1 or 2 days a week,60
4,32.0,male,28.880,0.0,no,northwest,3866.85520,Artist,NaN,3 to 5 days of a week,60

In [5]:
#Question 1:
100 - 100 * df.count().sum() / df.size

6.896317434434025

In [6]:
#100 - 100 * df.count().sum() / (df.shape[0] * df.shape[1])

In [7]:
#Answer: 6.89

In [8]:
#Question 2:
df.describe()

,age,bmi,children,charges,avg_steps_per_day,time_spent_in_gym
count,1258.000000,1220.000000,1177.000000,1338.000000,1193.000000,1338.000000
mean,37.476153,30.725066,1.123195,13270.422265,7813.914501,33.363229
std,15.935575,6.099268,1.218877,12110.011237,1461.396150,21.437067
min,-1.000000,15.960000,0.000000,1121.873900,3000.000000,0.000000
25%,25.000000,26.378750,0.000000,4740.287150,6800.000000,15.000000
50%,38.000000,30.495000,1.000000,9382.033000,7900.000000,30.000000
75%,51.000000,34.717500,2.000000,16639.912515,9000.000000,45.000000
max,64.000000,53.130000,5.000000,63770.428010,11700.000000,60.000000

In [9]:
#Answer:Replace the minimum value of -1 under the age column with np.nan, indicating a sentinel value.
df['age'] = df['age'].replace(-1, np.nan)

In [10]:
df.describe()

,age,bmi,children,charges,avg_steps_per_day,time_spent_in_gym
count,1204.000000,1220.000000,1177.000000,1338.000000,1193.000000,1338.000000
mean,39.201827,30.725066,1.123195,13270.422265,7813.914501,33.363229
std,13.996733,6.099268,1.218877,12110.011237,1461.396150,21.437067
min,18.000000,15.960000,0.000000,1121.873900,3000.000000,0.000000
25%,27.000000,26.378750,0.000000,4740.287150,6800.000000,15.000000
50%,39.000000,30.495000,1.000000,9382.033000,7900.000000,30.000000
75%,51.000000,34.717500,2.000000,16639.912515,9000.000000,45.000000
max,64.000000,53.130000,5.000000,63770.428010,11700.000000,60.000000

In [11]:
#Question 3:
df.describe(include= ['O'])

         sex smoker     region occupation gym_frequency
count   1338   1203       1210       1221          1207
unique     2      2          4          5             4
top     male     no  southeast     Artist      everyday
freq     676    963        330        257           402

In [12]:
#Answer: There are 5 columns with object datatype in the dataset.

In [13]:
#Question 4:
mean_age_by_gym_frequency = df.groupby('gym_frequency')['age'].mean().round().astype(int)
df.fillna({'age': df['gym_frequency'].map(mean_age_by_gym_frequency)}, inplace=True)
df['age'].mean()

39.20921450151057

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1324 non-null   float64
 1   sex                1338 non-null   object
 2   bmi                1220 non-null   float64
 3   children           1177 non-null   float64
 4   smoker             1203 non-null   object
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(1), object(5)
memory usage: 115.1+ KB

In [15]:
#Answer: 39.209

In [16]:
#Question 5:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1324 non-null   float64
 1   sex                1338 non-null   object
 2   bmi                1220 non-null   float64
 3   children           1177 non-null   float64
 4   smoker             1203 non-null   object
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(1), object(5)
memory usage: 115.1+ KB

In [17]:
df.fillna({'age': df['age'].median()}, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   object
 2   bmi                1220 non-null   float64
 3   children           1177 non-null   float64
 4   smoker             1203 non-null   object
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(1), object(5)
memory usage: 115.1+ KB

In [19]:
df['age'].mean()

39.20702541106129

In [20]:
#Answer: 39.207

In [21]:
#Question 6:
df['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [22]:
#Answer: Map male to 1 and female to 0.
df['sex'] = df['sex'].map({'male': 1, 'female':0})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1220 non-null   float64
 3   children           1177 non-null   float64
 4   smoker             1203 non-null   object
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(2), object(4)
memory usage: 115.1+ KB

In [23]:
#Question 7:
#Answer: Substitute all the missing values with the median of the available values.
df.fillna({'bmi': df['bmi'].median()}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1177 non-null   float64
 4   smoker             1203 non-null   object
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(2), object(4)
memory usage: 115.1+ KB

In [24]:
#Question 8:
non_missing_value_counts = df['children'].value_counts()
total_non_missing_values = non_missing_value_counts.sum()
p = non_missing_value_counts / total_non_missing_values
p

children
0.0    0.418862
1.0    0.244690
2.0    0.180119
3.0    0.121495
4.0    0.020391
5.0    0.014444
Name: count, dtype: float64

In [25]:
np.random.seed(0)
values = np.random.choice([0, 1, 2, 3, 4, 5], 
                          size=df['children'].isnull().sum(), 
                          p=[p[0], p[1], p[2], p[3], p[4], p[5]])

In [26]:
df.loc[df['children'].isnull(), 'children'] = values

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1203 non-null   object
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(2), object(4)
memory usage: 115.1+ KB

In [28]:
df['children'].value_counts()

children
0.0    553
1.0    337
2.0    241
3.0    161
4.0     27
5.0     19
Name: count, dtype: int64

In [29]:
#Answer: 0-553, 1-337, 2-241, 3-161, 4-27, 5-19

In [30]:
#Question 9:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1203 non-null   object
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(2), object(4)
memory usage: 115.1+ KB

In [31]:
df['smoker'].value_counts()

smoker
no     963
yes    240
Name: count, dtype: int64

In [32]:
#Answer: Map no to 1 and yes to 0
df.fillna({'smoker': 'no'}, inplace = True)
df['smoker'] = df['smoker'].map({'no': 1, 'yes':0})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1338 non-null   int64
 5   region             1210 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(3), object(3)
memory usage: 115.1+ KB

In [33]:
#Question 10:
non_missing_region_value_counts = df['region'].value_counts()
total_region_non_missing_values = non_missing_value_counts.sum()
p = non_missing_region_value_counts / total_region_non_missing_values
p

region
southeast    0.280374
southwest    0.250637
northwest    0.248938
northeast    0.248088
Name: count, dtype: float64

In [34]:
normalized_p = p/ p.sum()
normalized_p

region
southeast    0.272727
southwest    0.243802
northwest    0.242149
northeast    0.241322
Name: count, dtype: float64

In [35]:
d= {0: 'southeast', 1: 'southwest', 2: 'northwest', 3: 'northeast'}

In [36]:
np.random.seed(0)
values = np.random.choice([0, 1, 2, 3], 
                           size=df['region'].isnull().sum(), 
                           p= normalized_p)

In [37]:
for index, value in df['region'].items():
    if pd.isnull(value):
        df.at[index, 'region'] = d[values[0]]
        values = values[1:]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1338 non-null   int64
 5   region             1338 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
dtypes: float64(5), int64(3), object(3)
memory usage: 115.1+ KB

In [39]:
df['region'].value_counts()

region
southeast    365
northwest    333
southwest    321
northeast    319
Name: count, dtype: int64

In [40]:
#Question 11:
cols = pd.get_dummies(df['region'], prefix= 'region')
df[cols.columns] = cols
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1338 non-null   int64
 5   region             1338 non-null   object
 6   charges            1338 non-null   float64
 7   occupation         1221 non-null   object
 8   avg_steps_per_day  1193 non-null   float64
 9   gym_frequency      1207 non-null   object
 10  time_spent_in_gym  1338 non-null   int64
 11  region_northeast   1338 non-null   bool
 12  region_northwest   1338 non-null   bool
 13  region_southeast   1338 non-null   bool
 14  region_southwest   1338 non-null   bool
dtypes: bool(4), float64(5), int64(3), object(3)
memory usage: 120.3+ KB

In [41]:
df.drop('region', axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1338 non-null   int64
 5   charges            1338 non-null   float64
 6   occupation         1221 non-null   object
 7   avg_steps_per_day  1193 non-null   float64
 8   gym_frequency      1207 non-null   object
 9   time_spent_in_gym  1338 non-null   int64
 10  region_northeast   1338 non-null   bool
 11  region_northwest   1338 non-null   bool
 12  region_southeast   1338 non-null   bool
 13  region_southwest   1338 non-null   bool
dtypes: bool(4), float64(5), int64(3), object(2)
memory usage: 109.9+ KB

In [42]:
#Question 12:
df['occupation'].value_counts()

occupation
Artist      257
Engineer    256
Other       242
Doctor      235
Teacher     231
Name: count, dtype: int64

In [43]:
df.fillna({'occupation': 'Other'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1338 non-null   int64
 5   charges            1338 non-null   float64
 6   occupation         1338 non-null   object
 7   avg_steps_per_day  1193 non-null   float64
 8   gym_frequency      1207 non-null   object
 9   time_spent_in_gym  1338 non-null   int64
 10  region_northeast   1338 non-null   bool
 11  region_northwest   1338 non-null   bool
 12  region_southeast   1338 non-null   bool
 13  region_southwest   1338 non-null   bool
dtypes: bool(4), float64(5), int64(3), object(2)
memory usage: 109.9+ KB

In [44]:
df['occupation'].value_counts()

occupation
Other       359
Artist      257
Engineer    256
Doctor      235
Teacher     231
Name: count, dtype: int64

In [45]:
#Question 13:
pd.crosstab(df['gym_frequency'], df['occupation'])

occupation             Artist  Doctor  Engineer  Other  Teacher
gym_frequency
1 or 2 days a week         44      44        34     55       31
3 to 5 days of a week      61      61        77     93       77
everyday                   84      69        75    113       61
never                      38      44        46     61       39

In [46]:
gym_frequency_by_occupation = df.groupby('occupation')['gym_frequency'].apply(lambda x: x.mode()[0])
df.fillna({'gym_frequency': df['occupation'].map(gym_frequency_by_occupation)}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1338 non-null   int64
 5   charges            1338 non-null   float64
 6   occupation         1338 non-null   object
 7   avg_steps_per_day  1193 non-null   float64
 8   gym_frequency      1338 non-null   object
 9   time_spent_in_gym  1338 non-null   int64
 10  region_northeast   1338 non-null   bool
 11  region_northwest   1338 non-null   bool
 12  region_southeast   1338 non-null   bool
 13  region_southwest   1338 non-null   bool
dtypes: bool(4), float64(5), int64(3), object(2)
memory usage: 109.9+ KB

In [47]:
df['gym_frequency'].value_counts()

gym_frequency
everyday                 486
3 to 5 days of a week    416
never                    228
1 or 2 days a week       208
Name: count, dtype: int64

In [48]:
#Question 14:
df['gym_frequency'] = df['gym_frequency'].map({'never' : 0, '1 or 2 days a week': 1, '3 to 5 days of a week': 2, 'everyday': 3}) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1338 non-null   float64
 1   sex                1338 non-null   int64
 2   bmi                1338 non-null   float64
 3   children           1338 non-null   float64
 4   smoker             1338 non-null   int64
 5   charges            1338 non-null   float64
 6   occupation         1338 non-null   object
 7   avg_steps_per_day  1193 non-null   float64
 8   gym_frequency      1338 non-null   int64
 9   time_spent_in_gym  1338 non-null   int64
 10  region_northeast   1338 non-null   bool
 11  region_northwest   1338 non-null   bool
 12  region_southeast   1338 non-null   bool
 13  region_southwest   1338 non-null   bool
dtypes: bool(4), float64(5), int64(4), object(1)
memory usage: 109.9+ KB

In [49]:
#Question 15:
df['occupation'].value_counts()

occupation
Other       359
Artist      257
Engineer    256
Doctor      235
Teacher     231
Name: count, dtype: int64

In [50]:
cols = pd.get_dummies(df['occupation'], prefix= 'Occupation')
df[cols.columns] = cols
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1338 non-null   float64
 1   sex                  1338 non-null   int64
 2   bmi                  1338 non-null   float64
 3   children             1338 non-null   float64
 4   smoker               1338 non-null   int64
 5   charges              1338 non-null   float64
 6   occupation           1338 non-null   object
 7   avg_steps_per_day    1193 non-null   float64
 8   gym_frequency        1338 non-null   int64
 9   time_spent_in_gym    1338 non-null   int64
 10  region_northeast     1338 non-null   bool
 11  region_northwest     1338 non-null   bool
 12  region_southeast     1338 non-null   bool
 13  region_southwest     1338 non-null   bool
 14  Occupation_Artist    1338 non-null   bool
 15  Occupation_Doctor    1338 non-null   bool
 16  Occupation_Engineer  1338 non-null   bool
 17  Occupation_Other     1338 non-null   bool
 18  Occupation_Teacher   1338 non-null   bool
dtypes: bool(9), float64(5), int64(4), object(1)
memory usage: 116.4+ KB

In [51]:
df.drop('occupation', axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1338 non-null   float64
 1   sex                  1338 non-null   int64
 2   bmi                  1338 non-null   float64
 3   children             1338 non-null   float64
 4   smoker               1338 non-null   int64
 5   charges              1338 non-null   float64
 6   avg_steps_per_day    1193 non-null   float64
 7   gym_frequency        1338 non-null   int64
 8   time_spent_in_gym    1338 non-null   int64
 9   region_northeast     1338 non-null   bool
 10  region_northwest     1338 non-null   bool
 11  region_southeast     1338 non-null   bool
 12  region_southwest     1338 non-null   bool
 13  Occupation_Artist    1338 non-null   bool
 14  Occupation_Doctor    1338 non-null   bool
 15  Occupation_Engineer  1338 non-null   bool
 16  Occupation_Other     1338 non-null   bool
 17  Occupation_Teacher   1338 non-null   bool
dtypes: bool(9), float64(5), int64(4)
memory usage: 106.0 KB

In [52]:
#Question 16
age_group = df['age'] // 10 * 10
median_steps_per_day_by_age_group = df.groupby(age_group)['avg_steps_per_day'].median()
df.fillna({'avg_steps_per_day': age_group.map(median_steps_per_day_by_age_group)}, inplace=True)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1338 non-null   float64
 1   sex                  1338 non-null   int64
 2   bmi                  1338 non-null   float64
 3   children             1338 non-null   float64
 4   smoker               1338 non-null   int64
 5   charges              1338 non-null   float64
 6   avg_steps_per_day    1338 non-null   float64
 7   gym_frequency        1338 non-null   int64
 8   time_spent_in_gym    1338 non-null   int64
 9   region_northeast     1338 non-null   bool
 10  region_northwest     1338 non-null   bool
 11  region_southeast     1338 non-null   bool
 12  region_southwest     1338 non-null   bool
 13  Occupation_Artist    1338 non-null   bool
 14  Occupation_Doctor    1338 non-null   bool
 15  Occupation_Engineer  1338 non-null   bool
 16  Occupation_Other     1338 non-null   bool
 17  Occupation_Teacher   1338 non-null   bool
dtypes: bool(9), float64(5), int64(4)
memory usage: 106.0 KB

In [54]:
df['avg_steps_per_day'].mean()

7843.348281016442

In [55]:
#Answer: 7843.34

In [56]:
#Question 17:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1338 non-null   float64
 1   sex                  1338 non-null   int64
 2   bmi                  1338 non-null   float64
 3   children             1338 non-null   float64
 4   smoker               1338 non-null   int64
 5   charges              1338 non-null   float64
 6   avg_steps_per_day    1338 non-null   float64
 7   gym_frequency        1338 non-null   int64
 8   time_spent_in_gym    1338 non-null   int64
 9   region_northeast     1338 non-null   bool
 10  region_northwest     1338 non-null   bool
 11  region_southeast     1338 non-null   bool
 12  region_southwest     1338 non-null   bool
 13  Occupation_Artist    1338 non-null   bool
 14  Occupation_Doctor    1338 non-null   bool
 15  Occupation_Engineer  1338 non-null   bool
 16  Occupation_Other     1338 non-null   bool
 17  Occupation_Teacher   1338 non-null   bool
dtypes: bool(9), float64(5), int64(4)
memory usage: 106.0 KB

In [57]:
df.to_csv('Lab1_output_insurance.csv', index=False)